<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <div class="w3-container w3-teal">
        <h1 style="color:  #0b5b90"> <b> Zdravo od Filmmate-a!</b></h1>
    </div>
    <div class="w3-panel w3-red"></div>
        <h2> <b> O meni </b></h2>
        <p> Ja sam četbot koji Vam može dati detalje o željenom filmu. <br>
            <br>
            Možete me upitati nešto poput: <br>
            - Kada je objavljen Inception? <br>
            - Ko je režirao film Inception? <br>
            - Kratki opis za film Inception <br>
            <br>
            Takođe, umem da se zahvalim, i odgovorim na jednostavne smajliće poput ":)" i ":("
        </p>
        <p> Ako Vam se sviđam ili imate kakav komentar, moj tvorac <a href="https://github.com/MrOiseau" style="color:#2844e6">MrOiseau</a> je tu! :) </p>
        <hr>
        <img src="/Screenshots/filmmate_cover.jpg" alt="Filmmate" width="851px" height="315px">
    </div> 

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            xfbml            : true,
            version          : 'v8.0'
        });
    };

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<!-- Your Chat Plugin code -->
<div class="fb-customerchat"
     attribution=setup_tool
     page_id="109548070874231"
     theme_color="#0084ff">
</div>
</body>
</html>
